.DS_Store
.Rproj
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rcheck
..Rcheck
*.Rcheck/
*.tar.gz
*.Rout
*.Rout.save
*.Rout.fail
*.o
*.so
*.dll
*.rds
src/*.o
src/*.so
src/*.rds
vignettes/*.html
vignettes/*.pdf
doc/
inst/doc/
Meta/
